// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Mon Sep  8 20:12:29 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/ekendrick/documents/github/e155-lab2/radiant_project/source/impl_1/ai_prototype.sv"
// file 1 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 2 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 3 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 4 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 5 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 6 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 7 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 22 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 23 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 24 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 25 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 26 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 36 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 37 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 38 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 39 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 40 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module seven_segment_multiplexer
//

module seven_segment_multiplexer (input clk, input rst_n, input [3:0]in0, 
            input [3:0]in1, output [6:0]seg, output [1:0]an);
    
    (* is_clock=1, lineinfo="@0(2[25],2[28])" *) wire clk_c;
    wire rst_n_c;
    wire in0_c_3;
    wire in0_c_2;
    wire in0_c_1;
    wire in0_c_0;
    wire in1_c_3;
    wire in1_c_2;
    wire in1_c_1;
    wire in1_c_0;
    wire seg_c_6;
    wire seg_c_5;
    wire seg_c_4;
    wire seg_c_3;
    wire seg_c_2;
    wire seg_c_1;
    wire seg_c_0;
    wire sel_N_47;
    wire sel;
    wire [3:0]muxed_input;
    wire [15:0]clk_div;
    
    wire GND_net, VCC_net, sel_N_49, n234, n232, n26, n25, n236, 
        n580, n197, n242, n230, n22, n577, n559, n562;
    wire [15:0]clk_div_15__N_1;
    
    wire n556, n30, n240, n244, n574, n565, n28, n571, n238, 
        n568;
    
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i3 (.D(clk_div_15__N_1[3]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[3]));
    defparam clk_div_20__i3.REGSET = "RESET";
    defparam clk_div_20__i3.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i1 (.D(clk_div_15__N_1[1]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[1]));
    defparam clk_div_20__i1.REGSET = "RESET";
    defparam clk_div_20__i1.SRMODE = "ASYNC";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@0(32[9],41[16])" *) LUT4 sel_I_2_3_lut (.A(in0_c_2), 
            .B(in1_c_2), .C(sel), .Z(muxed_input[2]));
    defparam sel_I_2_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@0(32[9],41[16])" *) LUT4 sel_I_1_3_lut (.A(in0_c_3), 
            .B(in1_c_3), .C(sel), .Z(muxed_input[3]));
    defparam sel_I_1_3_lut.INIT = "0xcaca";
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i15 (.D(clk_div_15__N_1[15]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[15]));
    defparam clk_div_20__i15.REGSET = "RESET";
    defparam clk_div_20__i15.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i0 (.D(clk_div_15__N_1[0]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[0]));
    defparam clk_div_20__i0.REGSET = "RESET";
    defparam clk_div_20__i0.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i14 (.D(clk_div_15__N_1[14]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[14]));
    defparam clk_div_20__i14.REGSET = "RESET";
    defparam clk_div_20__i14.SRMODE = "ASYNC";
    (* lineinfo="@0(24[24],24[35])" *) FA2 clk_div_20_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(clk_div[11]), .D0(n240), .CI0(n240), .A1(GND_net), 
            .B1(GND_net), .C1(clk_div[12]), .D1(n574), .CI1(n574), .CO0(n574), 
            .CO1(n242), .S0(clk_div_15__N_1[11]), .S1(clk_div_15__N_1[12]));
    defparam clk_div_20_add_4_13.INIT0 = "0xc33c";
    defparam clk_div_20_add_4_13.INIT1 = "0xc33c";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@0(32[9],41[16])" *) LUT4 sel_I_4_3_lut (.A(in0_c_0), 
            .B(in1_c_0), .C(sel), .Z(muxed_input[0]));
    defparam sel_I_4_3_lut.INIT = "0xcaca";
    (* lineinfo="@0(24[24],24[35])" *) FA2 clk_div_20_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(clk_div[9]), .D0(n238), .CI0(n238), .A1(GND_net), 
            .B1(GND_net), .C1(clk_div[10]), .D1(n571), .CI1(n571), .CO0(n571), 
            .CO1(n240), .S0(clk_div_15__N_1[9]), .S1(clk_div_15__N_1[10]));
    defparam clk_div_20_add_4_11.INIT0 = "0xc33c";
    defparam clk_div_20_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@0(24[24],24[35])" *) FA2 clk_div_20_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(clk_div[7]), .D0(n236), .CI0(n236), .A1(GND_net), 
            .B1(GND_net), .C1(clk_div[8]), .D1(n568), .CI1(n568), .CO0(n568), 
            .CO1(n238), .S0(clk_div_15__N_1[7]), .S1(clk_div_15__N_1[8]));
    defparam clk_div_20_add_4_9.INIT0 = "0xc33c";
    defparam clk_div_20_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@0(32[9],41[16])" *) LUT4 sel_I_3_3_lut (.A(in0_c_1), 
            .B(in1_c_1), .C(sel), .Z(muxed_input[1]));
    defparam sel_I_3_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))", lineinfo="@0(46[9],64[16])" *) LUT4 muxed_input_3__I_0_4_lut (.A(muxed_input[1]), 
            .B(muxed_input[0]), .C(muxed_input[3]), .D(muxed_input[2]), 
            .Z(seg_c_0));
    defparam muxed_input_3__I_0_4_lut.INIT = "0x1805";
    (* lineinfo="@0(24[24],24[35])" *) FA2 clk_div_20_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(clk_div[5]), .D0(n234), .CI0(n234), .A1(GND_net), 
            .B1(GND_net), .C1(clk_div[6]), .D1(n565), .CI1(n565), .CO0(n565), 
            .CO1(n236), .S0(clk_div_15__N_1[5]), .S1(clk_div_15__N_1[6]));
    defparam clk_div_20_add_4_7.INIT0 = "0xc33c";
    defparam clk_div_20_add_4_7.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i13 (.D(clk_div_15__N_1[13]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[13]));
    defparam clk_div_20__i13.REGSET = "RESET";
    defparam clk_div_20__i13.SRMODE = "ASYNC";
    (* lut_function="(!(A))", lineinfo="@0(32[9],41[16])" *) LUT4 sel_I_5_1_lut (.A(sel), 
            .Z(sel_N_47));
    defparam sel_I_5_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@0(20[13],20[19])" *) LUT4 i6_1_lut (.A(rst_n_c), 
            .Z(sel_N_49));
    defparam i6_1_lut.INIT = "0x5555";
    (* lineinfo="@0(24[24],24[35])" *) FA2 clk_div_20_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(clk_div[3]), .D0(n232), .CI0(n232), .A1(GND_net), 
            .B1(GND_net), .C1(clk_div[4]), .D1(n562), .CI1(n562), .CO0(n562), 
            .CO1(n234), .S0(clk_div_15__N_1[3]), .S1(clk_div_15__N_1[4]));
    defparam clk_div_20_add_4_5.INIT0 = "0xc33c";
    defparam clk_div_20_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(24[24],24[35])" *) FA2 clk_div_20_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(clk_div[15]), .D0(n244), .CI0(n244), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n580), .CI1(n580), .CO0(n580), 
            .S0(clk_div_15__N_1[15]));
    defparam clk_div_20_add_4_17.INIT0 = "0xc33c";
    defparam clk_div_20_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@0(24[24],24[35])" *) FA2 clk_div_20_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(clk_div[1]), .D0(n230), .CI0(n230), .A1(GND_net), 
            .B1(GND_net), .C1(clk_div[2]), .D1(n559), .CI1(n559), .CO0(n559), 
            .CO1(n232), .S0(clk_div_15__N_1[1]), .S1(clk_div_15__N_1[2]));
    defparam clk_div_20_add_4_3.INIT0 = "0xc33c";
    defparam clk_div_20_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@0(24[24],24[35])" *) FA2 clk_div_20_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(clk_div[0]), .D1(n556), .CI1(n556), .CO0(n556), .CO1(n230), 
            .S1(clk_div_15__N_1[0]));
    defparam clk_div_20_add_4_1.INIT0 = "0xc33c";
    defparam clk_div_20_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A+(B))", lineinfo="@0(25[17],25[29])" *) LUT4 i6_2_lut (.A(clk_div[2]), 
            .B(clk_div[7]), .Z(n22));
    defparam i6_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(25[17],25[29])" *) LUT4 i12_4_lut (.A(clk_div[11]), 
            .B(clk_div[9]), .C(clk_div[14]), .D(clk_div[15]), .Z(n28));
    defparam i12_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(25[17],25[29])" *) LUT4 i10_4_lut (.A(clk_div[8]), 
            .B(clk_div[3]), .C(clk_div[13]), .D(clk_div[5]), .Z(n26));
    defparam i10_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(25[17],25[29])" *) LUT4 i14_4_lut (.A(clk_div[10]), 
            .B(n28), .C(n22), .D(clk_div[12]), .Z(n30));
    defparam i14_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(25[17],25[29])" *) LUT4 i9_4_lut (.A(clk_div[0]), 
            .B(clk_div[1]), .C(clk_div[6]), .D(clk_div[4]), .Z(n25));
    defparam i9_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+(C+(D)))+!A !(B+(C+(D))))" *) LUT4 i1_4_lut (.A(sel), 
            .B(n25), .C(n30), .D(n26), .Z(n197));
    defparam i1_4_lut.INIT = "0xaaa9";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@0(46[9],64[16])" *) LUT4 seg_c_6_I_0_4_lut (.A(muxed_input[2]), 
            .B(muxed_input[1]), .C(muxed_input[3]), .D(muxed_input[0]), 
            .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut.INIT = "0x6102";
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i12 (.D(clk_div_15__N_1[12]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[12]));
    defparam clk_div_20__i12.REGSET = "RESET";
    defparam clk_div_20__i12.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i11 (.D(clk_div_15__N_1[11]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[11]));
    defparam clk_div_20__i11.REGSET = "RESET";
    defparam clk_div_20__i11.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i10 (.D(clk_div_15__N_1[10]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[10]));
    defparam clk_div_20__i10.REGSET = "RESET";
    defparam clk_div_20__i10.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i9 (.D(clk_div_15__N_1[9]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[9]));
    defparam clk_div_20__i9.REGSET = "RESET";
    defparam clk_div_20__i9.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i8 (.D(clk_div_15__N_1[8]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[8]));
    defparam clk_div_20__i8.REGSET = "RESET";
    defparam clk_div_20__i8.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i7 (.D(clk_div_15__N_1[7]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[7]));
    defparam clk_div_20__i7.REGSET = "RESET";
    defparam clk_div_20__i7.SRMODE = "ASYNC";
    (* lut_function="(A (B (C+(D))+!B !((D)+!C))+!A !(B ((D)+!C)+!B !(C (D))))", lineinfo="@0(46[9],64[16])" *) LUT4 seg_c_5_I_0_4_lut (.A(muxed_input[1]), 
            .B(muxed_input[3]), .C(muxed_input[2]), .D(muxed_input[0]), 
            .Z(seg_c_5));
    defparam seg_c_5_I_0_4_lut.INIT = "0x98e0";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))", lineinfo="@0(46[9],64[16])" *) LUT4 seg_c_4_I_0_4_lut (.A(muxed_input[0]), 
            .B(muxed_input[3]), .C(muxed_input[1]), .D(muxed_input[2]), 
            .Z(seg_c_4));
    defparam seg_c_4_I_0_4_lut.INIT = "0xc410";
    (* lut_function="(A (B (C (D))+!B (C (D)+!C !(D)))+!A !(B (C+!(D))+!B ((D)+!C)))", lineinfo="@0(46[9],64[16])" *) LUT4 seg_c_3_I_0_4_lut (.A(muxed_input[0]), 
            .B(muxed_input[3]), .C(muxed_input[2]), .D(muxed_input[1]), 
            .Z(seg_c_3));
    defparam seg_c_3_I_0_4_lut.INIT = "0xa412";
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))", lineinfo="@0(46[9],64[16])" *) LUT4 seg_c_2_I_0_4_lut (.A(muxed_input[1]), 
            .B(muxed_input[3]), .C(muxed_input[0]), .D(muxed_input[2]), 
            .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0x3170";
    (* lut_function="(!(A (B ((D)+!C)+!B !((D)+!C))+!A (B+(C+!(D)))))", lineinfo="@0(46[9],64[16])" *) LUT4 seg_c_1_I_0_4_lut (.A(muxed_input[0]), 
            .B(muxed_input[3]), .C(muxed_input[2]), .D(muxed_input[1]), 
            .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut.INIT = "0x2382";
    (* lineinfo="@0(5[25],5[28])" *) IB \in1_pad[0]  (.I(in1[0]), .O(in1_c_0));
    (* lineinfo="@0(5[25],5[28])" *) IB \in1_pad[1]  (.I(in1[1]), .O(in1_c_1));
    (* lineinfo="@0(5[25],5[28])" *) IB \in1_pad[2]  (.I(in1[2]), .O(in1_c_2));
    (* lineinfo="@0(5[25],5[28])" *) IB \in1_pad[3]  (.I(in1[3]), .O(in1_c_3));
    (* lineinfo="@0(4[25],4[28])" *) IB \in0_pad[0]  (.I(in0[0]), .O(in0_c_0));
    (* lineinfo="@0(4[25],4[28])" *) IB \in0_pad[1]  (.I(in0[1]), .O(in0_c_1));
    (* lineinfo="@0(4[25],4[28])" *) IB \in0_pad[2]  (.I(in0[2]), .O(in0_c_2));
    (* lineinfo="@0(4[25],4[28])" *) IB \in0_pad[3]  (.I(in0[3]), .O(in0_c_3));
    (* lineinfo="@0(3[25],3[30])" *) IB rst_n_pad (.I(rst_n), .O(rst_n_c));
    (* lineinfo="@0(2[25],2[28])" *) IB clk_pad (.I(clk), .O(clk_c));
    (* lineinfo="@0(7[25],7[27])" *) OB \an_pad[0]  (.I(sel), .O(an[0]));
    (* lineinfo="@0(7[25],7[27])" *) OB \an_pad[1]  (.I(sel_N_47), .O(an[1]));
    (* lineinfo="@0(6[25],6[28])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@0(6[25],6[28])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@0(6[25],6[28])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lineinfo="@0(6[25],6[28])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@0(6[25],6[28])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@0(6[25],6[28])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@0(6[25],6[28])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i6 (.D(clk_div_15__N_1[6]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[6]));
    defparam clk_div_20__i6.REGSET = "RESET";
    defparam clk_div_20__i6.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i5 (.D(clk_div_15__N_1[5]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[5]));
    defparam clk_div_20__i5.REGSET = "RESET";
    defparam clk_div_20__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i4 (.D(clk_div_15__N_1[4]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[4]));
    defparam clk_div_20__i4.REGSET = "RESET";
    defparam clk_div_20__i4.SRMODE = "ASYNC";
    (* lineinfo="@0(20[9],27[12])" *) FD1P3XZ sel_c (.D(n197), .SP(VCC_net), 
            .CK(clk_c), .SR(sel_N_49), .Q(sel));
    defparam sel_c.REGSET = "RESET";
    defparam sel_c.SRMODE = "ASYNC";
    VLO i1 (.Z(GND_net));
    (* syn_use_carry_chain=1, lineinfo="@0(24[24],24[35])" *) FD1P3XZ clk_div_20__i2 (.D(clk_div_15__N_1[2]), 
            .SP(VCC_net), .CK(clk_c), .SR(sel_N_49), .Q(clk_div[2]));
    defparam clk_div_20__i2.REGSET = "RESET";
    defparam clk_div_20__i2.SRMODE = "ASYNC";
    (* lineinfo="@0(24[24],24[35])" *) FA2 clk_div_20_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(clk_div[13]), .D0(n242), .CI0(n242), .A1(GND_net), 
            .B1(GND_net), .C1(clk_div[14]), .D1(n577), .CI1(n577), .CO0(n577), 
            .CO1(n244), .S0(clk_div_15__N_1[13]), .S1(clk_div_15__N_1[14]));
    defparam clk_div_20_add_4_15.INIT0 = "0xc33c";
    defparam clk_div_20_add_4_15.INIT1 = "0xc33c";
    
endmodule
