// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Mon Sep  8 21:18:51 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/ekendrick/documents/github/e155-lab2/radiant_project/source/impl_1/counter.sv"
// file 1 "c:/users/ekendrick/documents/github/e155-lab2/radiant_project/source/impl_1/lab2_ek.sv"
// file 2 "c:/users/ekendrick/documents/github/e155-lab2/radiant_project/source/impl_1/mux.sv"
// file 3 "c:/users/ekendrick/documents/github/e155-lab2/radiant_project/source/impl_1/sevseg.sv"
// file 4 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 5 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 6 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 7 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 22 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 23 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 24 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 25 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 26 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 36 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 37 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 38 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 39 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 40 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 53 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 54 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 55 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input clk, input reset, input [3:0]s1, input [3:0]s2, output [6:0]seg, 
            output [1:0]seg_power, output [4:0]led);
    
    wire GND_net;
    (* is_clock=1, lineinfo="@1(2[14],2[17])" *) wire clk_c;
    wire reset_c;
    wire s1_c_3;
    wire s1_c_2;
    wire s1_c_1;
    wire s1_c_0;
    wire s2_c_3;
    wire s2_c_2;
    wire s2_c_1;
    wire s2_c_0;
    wire seg_c_6;
    wire seg_c_5;
    wire seg_c_4;
    wire seg_c_3;
    wire seg_c_2;
    wire seg_c_1;
    wire seg_c_0;
    wire seg_power_c_N_40;
    wire led_c_4;
    wire led_c_3;
    wire led_c_2;
    wire led_c_1;
    wire led_c_0;
    wire [3:0]s;
    wire seg_power_c;
    wire VCC_net;
    
    wire led_c_3_N_45, led_c_2_N_47;
    
    VHI i6 (.Z(VCC_net));
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@1(38[15],38[22])" *) LUT4 s1_c_0_I_0_2_lut (.A(s1_c_0), 
            .B(s2_c_0), .Z(led_c_0));
    defparam s1_c_0_I_0_2_lut.INIT = "0x6666";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=10, LSE_RCOL=35, LSE_LLINE=31, LSE_RLINE=31, lineinfo="@1(31[10],31[35])" *) counter counter1 (seg_power_c, 
            clk_c, reset_c);
    (* lut_function="(!(A))", lineinfo="@1(35[24],35[28])" *) LUT4 seg_power_c_I_0_1_lut (.A(seg_power_c), 
            .Z(seg_power_c_N_40));
    defparam seg_power_c_I_0_1_lut.INIT = "0x5555";
    (* lut_function="(A (B+(C))+!A (B (C)))", lineinfo="@1(38[15],38[22])" *) LUT4 led_c_4_I_0_3_lut (.A(s1_c_3), 
            .B(s2_c_3), .C(led_c_3_N_45), .Z(led_c_4));
    defparam led_c_4_I_0_3_lut.INIT = "0xe8e8";
    (* lineinfo="@1(3[24],3[26])" *) IB \s2_pad[0]  (.I(s2[0]), .O(s2_c_0));
    (* lineinfo="@1(3[24],3[26])" *) IB \s2_pad[1]  (.I(s2[1]), .O(s2_c_1));
    (* lineinfo="@1(3[24],3[26])" *) IB \s2_pad[2]  (.I(s2[2]), .O(s2_c_2));
    (* lineinfo="@1(3[24],3[26])" *) IB \s2_pad[3]  (.I(s2[3]), .O(s2_c_3));
    (* lineinfo="@1(3[20],3[22])" *) IB \s1_pad[0]  (.I(s1[0]), .O(s1_c_0));
    (* lineinfo="@1(3[20],3[22])" *) IB \s1_pad[1]  (.I(s1[1]), .O(s1_c_1));
    (* lineinfo="@1(3[20],3[22])" *) IB \s1_pad[2]  (.I(s1[2]), .O(s1_c_2));
    (* lineinfo="@1(3[20],3[22])" *) IB \s1_pad[3]  (.I(s1[3]), .O(s1_c_3));
    (* lineinfo="@1(2[19],2[24])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@1(2[14],2[17])" *) IB clk_pad (.I(clk), .O(clk_c));
    (* lineinfo="@1(6[21],6[24])" *) OB \led_pad[0]  (.I(led_c_0), .O(led[0]));
    (* lineinfo="@1(6[21],6[24])" *) OB \led_pad[1]  (.I(led_c_1), .O(led[1]));
    (* lineinfo="@1(6[21],6[24])" *) OB \led_pad[2]  (.I(led_c_2), .O(led[2]));
    (* lineinfo="@1(6[21],6[24])" *) OB \led_pad[3]  (.I(led_c_3), .O(led[3]));
    (* lineinfo="@1(6[21],6[24])" *) OB \led_pad[4]  (.I(led_c_4), .O(led[4]));
    (* lineinfo="@1(5[21],5[30])" *) OB \seg_power_pad[0]  (.I(seg_power_c), 
            .O(seg_power[0]));
    (* lineinfo="@1(5[21],5[30])" *) OB \seg_power_pad[1]  (.I(seg_power_c_N_40), 
            .O(seg_power[1]));
    (* lut_function="(A (B+(C))+!A (B (C)))", lineinfo="@1(38[15],38[22])" *) LUT4 i39_3_lut (.A(s1_c_2), 
            .B(s2_c_2), .C(led_c_2_N_47), .Z(led_c_3_N_45));
    defparam i39_3_lut.INIT = "0xe8e8";
    (* lineinfo="@1(4[21],4[24])" *) OB \seg_pad[0]  (.I(seg_c_0), .O(seg[0]));
    (* lineinfo="@1(4[21],4[24])" *) OB \seg_pad[1]  (.I(seg_c_1), .O(seg[1]));
    (* lineinfo="@1(4[21],4[24])" *) OB \seg_pad[2]  (.I(seg_c_2), .O(seg[2]));
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))", lineinfo="@1(38[15],38[22])" *) LUT4 i2_3_lut (.A(led_c_3_N_45), 
            .B(s2_c_3), .C(s1_c_3), .Z(led_c_3));
    defparam i2_3_lut.INIT = "0x9696";
    (* lineinfo="@1(4[21],4[24])" *) OB \seg_pad[3]  (.I(seg_c_3), .O(seg[3]));
    (* lineinfo="@1(4[21],4[24])" *) OB \seg_pad[4]  (.I(seg_c_4), .O(seg[4]));
    (* lineinfo="@1(4[21],4[24])" *) OB \seg_pad[5]  (.I(seg_c_5), .O(seg[5]));
    (* lineinfo="@1(4[21],4[24])" *) OB \seg_pad[6]  (.I(seg_c_6), .O(seg[6]));
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))", lineinfo="@1(38[15],38[22])" *) LUT4 i2_3_lut_adj_1 (.A(led_c_2_N_47), 
            .B(s2_c_2), .C(s1_c_2), .Z(led_c_2));
    defparam i2_3_lut_adj_1.INIT = "0x9696";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=6, LSE_RCOL=26, LSE_LLINE=29, LSE_RLINE=29, lineinfo="@1(29[6],29[26])" *) mux mux1 (s2_c_0, 
            s1_c_0, seg_power_c, {s}, s2_c_3, s1_c_3, s2_c_1, s1_c_1, 
            s2_c_2, s1_c_2);
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=29, LSE_LLINE=30, LSE_RLINE=30, lineinfo="@1(30[9],30[29])" *) sevseg sevseg_logic ({s}, 
            seg_c_6, seg_c_5, seg_c_4, seg_c_2, seg_c_1, seg_c_0, 
            seg_c_3);
    (* lut_function="(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A !(C (D)+!C !(D)))", lineinfo="@1(38[15],38[22])" *) LUT4 i2_3_lut_4_lut (.A(s1_c_0), 
            .B(s2_c_0), .C(s1_c_1), .D(s2_c_1), .Z(led_c_1));
    defparam i2_3_lut_4_lut.INIT = "0x8778";
    (* lut_function="(A (B (C+(D))+!B (C (D)))+!A (C (D)))", lineinfo="@1(38[15],38[22])" *) LUT4 i32_3_lut_4_lut (.A(s1_c_0), 
            .B(s2_c_0), .C(s2_c_1), .D(s1_c_1), .Z(led_c_2_N_47));
    defparam i32_3_lut_4_lut.INIT = "0xf880";
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module counter
//

module counter (output seg_power_c, input clk_c, input reset_c);
    
    wire [24:0]count;
    (* is_clock=1, lineinfo="@1(2[14],2[17])" *) wire clk_c;
    
    wire n26, n162, n30, n29, n28, n313, n794, GND_net;
    wire [24:0]n105;
    
    wire n32, n27, n10, n311, n791, n509, n297, n770, n299, 
        n507, n158, n31, n295, n767, n309, n788, n307, n785, 
        n305, n782, n303, n779, n301, n776, n773, n293, n764, 
        n291, n761, n758, VCC_net;
    
    (* lut_function="(A+(B+(C)))", lineinfo="@0(25[8],25[27])" *) LUT4 i9_3_lut (.A(count[15]), 
            .B(count[7]), .C(count[22]), .Z(n26));
    defparam i9_3_lut.INIT = "0xfefe";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i24 (.D(n105[24]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[24]));
    defparam count_14__i24.REGSET = "RESET";
    defparam count_14__i24.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(25[8],25[27])" *) LUT4 i12_4_lut (.A(count[19]), 
            .B(count[11]), .C(count[12]), .D(count[23]), .Z(n29));
    defparam i12_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(25[8],25[27])" *) LUT4 i11_4_lut (.A(count[17]), 
            .B(count[5]), .C(count[20]), .D(count[14]), .Z(n28));
    defparam i11_4_lut.INIT = "0xfffe";
    (* lineinfo="@0(29[18],29[27])" *) FA2 count_14_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(count[23]), .D0(n313), .CI0(n313), .A1(GND_net), 
            .B1(GND_net), .C1(count[24]), .D1(n794), .CI1(n794), .CO0(n794), 
            .S0(n105[23]), .S1(n105[24]));
    defparam count_14_add_4_25.INIT0 = "0xc33c";
    defparam count_14_add_4_25.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(25[8],25[27])" *) LUT4 i15_4_lut (.A(n29), 
            .B(count[18]), .C(n26), .D(count[6]), .Z(n32));
    defparam i15_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(25[8],25[27])" *) LUT4 i10_4_lut (.A(count[16]), 
            .B(count[4]), .C(count[21]), .D(count[24]), .Z(n27));
    defparam i10_4_lut.INIT = "0xfffe";
    (* lut_function="(A+((C+(D))+!B))" *) LUT4 i1_4_lut (.A(n27), .B(count[0]), 
            .C(n32), .D(n28), .Z(n10));
    defparam i1_4_lut.INIT = "0xfffb";
    (* lineinfo="@0(29[18],29[27])" *) FA2 count_14_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(count[21]), .D0(n311), .CI0(n311), .A1(GND_net), 
            .B1(GND_net), .C1(count[22]), .D1(n791), .CI1(n791), .CO0(n791), 
            .CO1(n313), .S0(n105[21]), .S1(n105[22]));
    defparam count_14_add_4_23.INIT0 = "0xc33c";
    defparam count_14_add_4_23.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i425_2_lut (.A(count[2]), .B(count[13]), 
            .Z(n509));
    defparam i425_2_lut.INIT = "0x8888";
    (* lineinfo="@0(29[18],29[27])" *) FA2 count_14_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(count[7]), .D0(n297), .CI0(n297), .A1(GND_net), 
            .B1(GND_net), .C1(count[8]), .D1(n770), .CI1(n770), .CO0(n770), 
            .CO1(n299), .S0(n105[7]), .S1(n105[8]));
    defparam count_14_add_4_9.INIT0 = "0xc33c";
    defparam count_14_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A (B (C (D))))" *) LUT4 i423_4_lut (.A(count[9]), .B(count[3]), 
            .C(count[1]), .D(count[10]), .Z(n507));
    defparam i423_4_lut.INIT = "0x8000";
    (* lut_function="((((D)+!C)+!B)+!A)" *) LUT4 i8_4_lut (.A(n507), .B(n509), 
            .C(count[8]), .D(n10), .Z(n158));
    defparam i8_4_lut.INIT = "0xff7f";
    (* lut_function="(!(A (B)))" *) LUT4 i512_2_lut (.A(n158), .B(reset_c), 
            .Z(n31));
    defparam i512_2_lut.INIT = "0x7777";
    (* lut_function="(!(A))", lineinfo="@1(2[19],2[24])" *) LUT4 i11_1_lut (.A(reset_c), 
            .Z(n30));
    defparam i11_1_lut.INIT = "0x5555";
    (* lut_function="(A (B)+!A !(B))" *) LUT4 i1_2_lut (.A(seg_power_c), .B(n158), 
            .Z(n162));
    defparam i1_2_lut.INIT = "0x9999";
    (* lineinfo="@0(29[18],29[27])" *) FA2 count_14_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(count[5]), .D0(n295), .CI0(n295), .A1(GND_net), 
            .B1(GND_net), .C1(count[6]), .D1(n767), .CI1(n767), .CO0(n767), 
            .CO1(n297), .S0(n105[5]), .S1(n105[6]));
    defparam count_14_add_4_7.INIT0 = "0xc33c";
    defparam count_14_add_4_7.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i23 (.D(n105[23]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[23]));
    defparam count_14__i23.REGSET = "RESET";
    defparam count_14__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i22 (.D(n105[22]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[22]));
    defparam count_14__i22.REGSET = "RESET";
    defparam count_14__i22.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(29[18],29[27])" *) FA2 count_14_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(count[19]), .D0(n309), .CI0(n309), .A1(GND_net), 
            .B1(GND_net), .C1(count[20]), .D1(n788), .CI1(n788), .CO0(n788), 
            .CO1(n311), .S0(n105[19]), .S1(n105[20]));
    defparam count_14_add_4_21.INIT0 = "0xc33c";
    defparam count_14_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(29[18],29[27])" *) FA2 count_14_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(count[17]), .D0(n307), .CI0(n307), .A1(GND_net), 
            .B1(GND_net), .C1(count[18]), .D1(n785), .CI1(n785), .CO0(n785), 
            .CO1(n309), .S0(n105[17]), .S1(n105[18]));
    defparam count_14_add_4_19.INIT0 = "0xc33c";
    defparam count_14_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(29[18],29[27])" *) FA2 count_14_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(count[15]), .D0(n305), .CI0(n305), .A1(GND_net), 
            .B1(GND_net), .C1(count[16]), .D1(n782), .CI1(n782), .CO0(n782), 
            .CO1(n307), .S0(n105[15]), .S1(n105[16]));
    defparam count_14_add_4_17.INIT0 = "0xc33c";
    defparam count_14_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@0(29[18],29[27])" *) FA2 count_14_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(count[13]), .D0(n303), .CI0(n303), .A1(GND_net), 
            .B1(GND_net), .C1(count[14]), .D1(n779), .CI1(n779), .CO0(n779), 
            .CO1(n305), .S0(n105[13]), .S1(n105[14]));
    defparam count_14_add_4_15.INIT0 = "0xc33c";
    defparam count_14_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@0(29[18],29[27])" *) FA2 count_14_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(count[11]), .D0(n301), .CI0(n301), .A1(GND_net), 
            .B1(GND_net), .C1(count[12]), .D1(n776), .CI1(n776), .CO0(n776), 
            .CO1(n303), .S0(n105[11]), .S1(n105[12]));
    defparam count_14_add_4_13.INIT0 = "0xc33c";
    defparam count_14_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@0(29[18],29[27])" *) FA2 count_14_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(count[9]), .D0(n299), .CI0(n299), .A1(GND_net), 
            .B1(GND_net), .C1(count[10]), .D1(n773), .CI1(n773), .CO0(n773), 
            .CO1(n301), .S0(n105[9]), .S1(n105[10]));
    defparam count_14_add_4_11.INIT0 = "0xc33c";
    defparam count_14_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@0(29[18],29[27])" *) FA2 count_14_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(count[3]), .D0(n293), .CI0(n293), .A1(GND_net), 
            .B1(GND_net), .C1(count[4]), .D1(n764), .CI1(n764), .CO0(n764), 
            .CO1(n295), .S0(n105[3]), .S1(n105[4]));
    defparam count_14_add_4_5.INIT0 = "0xc33c";
    defparam count_14_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(29[18],29[27])" *) FA2 count_14_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(count[1]), .D0(n291), .CI0(n291), .A1(GND_net), 
            .B1(GND_net), .C1(count[2]), .D1(n761), .CI1(n761), .CO0(n761), 
            .CO1(n293), .S0(n105[1]), .S1(n105[2]));
    defparam count_14_add_4_3.INIT0 = "0xc33c";
    defparam count_14_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@0(29[18],29[27])" *) FA2 count_14_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(count[0]), .D1(n758), .CI1(n758), .CO0(n758), .CO1(n291), 
            .S1(n105[0]));
    defparam count_14_add_4_1.INIT0 = "0xc33c";
    defparam count_14_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i21 (.D(n105[21]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[21]));
    defparam count_14__i21.REGSET = "RESET";
    defparam count_14__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i20 (.D(n105[20]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[20]));
    defparam count_14__i20.REGSET = "RESET";
    defparam count_14__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i19 (.D(n105[19]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[19]));
    defparam count_14__i19.REGSET = "RESET";
    defparam count_14__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i18 (.D(n105[18]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[18]));
    defparam count_14__i18.REGSET = "RESET";
    defparam count_14__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i17 (.D(n105[17]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[17]));
    defparam count_14__i17.REGSET = "RESET";
    defparam count_14__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i16 (.D(n105[16]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[16]));
    defparam count_14__i16.REGSET = "RESET";
    defparam count_14__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i15 (.D(n105[15]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[15]));
    defparam count_14__i15.REGSET = "RESET";
    defparam count_14__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i14 (.D(n105[14]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[14]));
    defparam count_14__i14.REGSET = "RESET";
    defparam count_14__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i13 (.D(n105[13]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[13]));
    defparam count_14__i13.REGSET = "RESET";
    defparam count_14__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i12 (.D(n105[12]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[12]));
    defparam count_14__i12.REGSET = "RESET";
    defparam count_14__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i11 (.D(n105[11]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[11]));
    defparam count_14__i11.REGSET = "RESET";
    defparam count_14__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i10 (.D(n105[10]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[10]));
    defparam count_14__i10.REGSET = "RESET";
    defparam count_14__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i9 (.D(n105[9]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[9]));
    defparam count_14__i9.REGSET = "RESET";
    defparam count_14__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i8 (.D(n105[8]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[8]));
    defparam count_14__i8.REGSET = "RESET";
    defparam count_14__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i7 (.D(n105[7]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[7]));
    defparam count_14__i7.REGSET = "RESET";
    defparam count_14__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i6 (.D(n105[6]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[6]));
    defparam count_14__i6.REGSET = "RESET";
    defparam count_14__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i5 (.D(n105[5]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[5]));
    defparam count_14__i5.REGSET = "RESET";
    defparam count_14__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i4 (.D(n105[4]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[4]));
    defparam count_14__i4.REGSET = "RESET";
    defparam count_14__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i3 (.D(n105[3]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[3]));
    defparam count_14__i3.REGSET = "RESET";
    defparam count_14__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i2 (.D(n105[2]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[2]));
    defparam count_14__i2.REGSET = "RESET";
    defparam count_14__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i1 (.D(n105[1]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[1]));
    defparam count_14__i1.REGSET = "RESET";
    defparam count_14__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(29[18],29[27])" *) FD1P3XZ count_14__i0 (.D(n105[0]), 
            .SP(VCC_net), .CK(clk_c), .SR(n31), .Q(count[0]));
    defparam count_14__i0.REGSET = "RESET";
    defparam count_14__i0.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=10, LSE_RCOL=35, LSE_LLINE=31, LSE_RLINE=31, lineinfo="@0(19[12],31[5])" *) FD1P3XZ sel (.D(n162), 
            .SP(VCC_net), .CK(clk_c), .SR(n30), .Q(seg_power_c));
    defparam sel.REGSET = "RESET";
    defparam sel.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module mux
//

module mux (input s2_c_0, input s1_c_0, input seg_power_c, output [3:0]s, 
            input s2_c_3, input s1_c_3, input s2_c_1, input s1_c_1, 
            input s2_c_2, input s1_c_2);
    
    
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(13[13],13[26])" *) LUT4 s2_c_0_I_0_3_lut (.A(s2_c_0), 
            .B(s1_c_0), .C(seg_power_c), .Z(s[0]));
    defparam s2_c_0_I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(13[13],13[26])" *) LUT4 s2_c_3_I_0_3_lut (.A(s2_c_3), 
            .B(s1_c_3), .C(seg_power_c), .Z(s[3]));
    defparam s2_c_3_I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(13[13],13[26])" *) LUT4 s2_c_1_I_0_3_lut (.A(s2_c_1), 
            .B(s1_c_1), .C(seg_power_c), .Z(s[1]));
    defparam s2_c_1_I_0_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@2(13[13],13[26])" *) LUT4 s2_c_2_I_0_3_lut (.A(s2_c_2), 
            .B(s1_c_2), .C(seg_power_c), .Z(s[2]));
    defparam s2_c_2_I_0_3_lut.INIT = "0xcaca";
    
endmodule

//
// Verilog Description of module sevseg
//

module sevseg (input [3:0]s, output seg_c_6, output seg_c_5, output seg_c_4, 
            output seg_c_2, output seg_c_1, output seg_c_0, output seg_c_3);
    
    
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))", lineinfo="@3(15[3],33[10])" *) LUT4 seg_c_6_I_0_4_lut (.A(s[1]), 
            .B(s[0]), .C(s[3]), .D(s[2]), .Z(seg_c_6));
    defparam seg_c_6_I_0_4_lut.INIT = "0x1805";
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@3(15[3],33[10])" *) LUT4 seg_c_5_I_0_4_lut (.A(s[1]), 
            .B(s[3]), .C(s[2]), .D(s[0]), .Z(seg_c_5));
    defparam seg_c_5_I_0_4_lut.INIT = "0x6302";
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))", lineinfo="@3(15[3],33[10])" *) LUT4 seg_c_4_I_0_4_lut (.A(s[1]), 
            .B(s[3]), .C(s[0]), .D(s[2]), .Z(seg_c_4));
    defparam seg_c_4_I_0_4_lut.INIT = "0x3170";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))", lineinfo="@3(15[3],33[10])" *) LUT4 seg_c_2_I_0_4_lut (.A(s[0]), 
            .B(s[3]), .C(s[1]), .D(s[2]), .Z(seg_c_2));
    defparam seg_c_2_I_0_4_lut.INIT = "0xc410";
    (* lut_function="(A (B (D)+!B !((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@3(15[3],33[10])" *) LUT4 seg_c_1_I_0_4_lut (.A(s[0]), 
            .B(s[3]), .C(s[2]), .D(s[1]), .Z(seg_c_1));
    defparam seg_c_1_I_0_4_lut.INIT = "0xd860";
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@3(15[3],33[10])" *) LUT4 s_3__I_0_4_lut (.A(s[2]), 
            .B(s[1]), .C(s[3]), .D(s[0]), .Z(seg_c_0));
    defparam s_3__I_0_4_lut.INIT = "0x6102";
    (* lut_function="(A (B (D)+!B !(D))+!A !(B ((D)+!C)+!B (C+!(D))))", lineinfo="@3(15[3],33[10])" *) LUT4 n664_bdd_4_lut_4_lut_4_lut_4_lut (.A(s[0]), 
            .B(s[1]), .C(s[3]), .D(s[2]), .Z(seg_c_3));
    defparam n664_bdd_4_lut_4_lut_4_lut_4_lut.INIT = "0x8962";
    
endmodule
